* {
    padding: 0;
    box-sizing: border-box;
    margin: 0 ;
}

.logo {
    width: 200px;
}


.navbar {
    background: transparent !important;
    border-bottom: 1px solid darkgray;
    width: 100%;
    /* position: fixed !important; */

    
}

.hero {
    height: 100vh;
    background-color:rgb(43, 12, 86);
    
}